h4,h5, p ,.step7adjust{
    color: rgb(13, 17, 23);
    font-weight: 500;
}

hr{
    margin: 0;
    padding: 0;
    border: 1.5px solid rgb(247, 105, 255);
}

p{
    padding: 0 !important;
    padding-left: 12px !important;
    margin: 0 !important;
}

.col{
    padding: 0 !important;
}

h4{
    text-align: center;
    margin-bottom: 0 !important;
    font-weight: 700;
    color: black;
}

h5{
    margin: 2px !important;
    color: rgb(13, 17, 23);
    font-weight: 700;
}

body{
    background-color: rgb(37, 45, 56);
}

/* Navbar */

nav.navbar{
    background-color:rgb(13, 17, 23) !important;
}

.brand-logo{
    color: red;
}

.navbar-brand , .offcanvas-title{
    color: rgb(139, 139, 124);
   
}

.navbar-brand:hover{
    color: rgb(139, 139, 124) !important;
}

.navbar-brand:focus{
    color: rgb(139, 139, 124) !important;
}

.navbar .container-fluid{
    margin: 0 3%;
}

/* Toggle Icon */

.navbar-toggler-icon{
    opacity: 1 !important;
}

.navbar-toggler{
    color: rgb(139, 139, 124) !important;
    opacity: 1 !important;
    border-radius: 12px;
    border-color: rgb(13, 17, 23);
}

.navbar-toggler:focus{
    box-shadow: none;
}

#toggler{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28139, 139, 124, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/* Toggle Menu */

.offcanvas-header{
    background-color: rgb(13, 17, 23);
}

.offcanvas-body{
    background-color: rgb(28, 8, 20);
}

.nav-link{
    color: rgb(139, 139, 124);
    margin: 1rem;
}

.nav-link:hover{
    color: rgb(139, 139, 124);
}

.nav-link:focus{
    color: rgb(139, 139, 124);
}


/* Main Section */

.main-content{
    margin-top: 10px;
}

.main-reba{
    margin-bottom: 100px !important;
}

select{
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(141, 223, 255);
    color: rgb(0, 0, 0);
    font-weight: 600;
    width: auto;
}

/* select:hover{
    background-color: rgb(71, 160, 173);
} */

/* Video Column */

.upload-video-btn{
    position: absolute;
    display: flex;
    width: auto;
    top: 43%;
    left: 43.7%;
}

.reba-score-row{
    margin: 0;
    margin-top: 10px;
    background-color: rgb(192, 192, 192);
    width: 100%;    
    border: 2px solid rgb(23, 13, 13);
    padding: 10px;

}

h2{
    display: flex;
}

#final-reba{
    width: 100%;
    border-bottom: 3px solid rgb(64, 64, 249);
}

/* Submit Col */

.submit-row{
    margin: 10px;
    margin-top: 20px;
}

.submit-text{
    font-weight: 600;
    font-size: 1.3rem;
}

#submit-input-group{
    width: 23%;
    min-width: 200px;
    padding: 10px;
    padding-left: 30px;
}

#button-addon1{
    border: 2px solid rgb(13, 17, 23);
    background-color: rgb(199, 143, 216);
    color: black;
    font-weight: 700;
    border-right: none;
    width: auto;
}

#button-addon1:hover{
    background-color: rgb(195, 122, 217);
}

span#score-output{
    background-color: rgb(192, 192, 192);
    border: 2px solid rgb(13, 17, 23);
    width: auto !important;
    color: rgb(13, 17, 23);
    font-weight: 600;
    font-size: 1.2rem;
}


/* Score Table */

thead tr th{
    font-size: 1.3rem;
    font-weight: 600;
}

th{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

td{
    font-size: 1.2rem;
    font-weight: 500;
}

.table-row{
    width: 80% ;
    margin: 10px;
}

table{
    background-color: white;
}



/* Save Col */

.save-col{
    margin: 10px;
    padding-left: 23px !important;
}

.save-row{
    margin: 10px;
    margin-top: 20px;
    padding-left: 11px;
}



#primary-save-btn{
    width: auto;
    border: 2px solid rgb(13, 17, 23);
}

.input-group{
    margin: 5px 0px !important;
}

#dummy{
    opacity: 0;
}

.video-col{
    height: 100%;
    padding: 0 2px !important;
    margin: 0 0.75rem !important;
}

/* REBA Columns */

.reba-col{
    height: 100%;
    padding: 0 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.first-row{
    margin: 1px 0;
    border: 2px solid rgb(23, 13, 13);
    border-radius: 8px;
}

video{
    width: 100%;
    margin-top: 8px;
}

img{
    width: 100%;
    padding: 0 !important;
}

.neck-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trunk-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leg-form{
    margin: 5px;
    float: right;
}

.force-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upperarm-form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-arm-card{
    top: 0;
    width: 100% !important;
    position: relative !important;
    border: 0px solid;
    border-radius: 12px;
}

.lowerarm-form{
    bottom: 0;
    right: 0;
    margin: 5px;
    display: flex;
    position: absolute !important;
}

.wrist-image{
    width: 100%;
}

.wrist-form{
    margin: 5px;
    margin-right: 30px;
    float: right;
}

.coupling-form{
    margin: 3px;
}


h5.coupling{
    padding-left: 5px;
}

.coupling-col{
    padding: 0;
}
