body {
    background-color: rgb(28, 8, 20);
  }
  
  /* Navbar */
  #navbar {
    height: 80px;
    background-color: rgb(13, 17, 23);
    color: rgb(139, 139, 124);
  }
  
  #navbar a {
    text-decoration: none;
    color: rgb(139, 139, 124);
    border: 2px solid rgb(13, 17, 23);
    padding: 4px;
  }
  
  #navbar a:hover {
    color: rgba(180, 180, 131, 0.988);
  }
  
  #navbar span.logo {
    color: red;
  }
  
  #navbar .nav-item {
    padding: 0 1rem;
  }
  
  .navbar-toggler {
    border: 2px solid rgb(139, 139, 124);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28139, 139, 124, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    border: none !important;
  }
  
  .navbar-nav {
    background-color: rgb(13, 17, 23) !important;
    padding-bottom: 8px;
  }
  
  .dropdown-menu {
    background-color: rgb(139, 139, 124);
    left: 10% !important;
  }
  
  .dropdown-item {
    color: rgb(13, 17, 23) !important;
    font-weight: 600;
    border: none !important;
  }
  
  .dropdown-item:hover {
    background-color: rgb(139, 139, 124);
    font-weight: 700;
  }
  
  #create-reba {
    color: rgba(180, 180, 131, 0.988) !important;
    background-color: rgb(131, 5, 5) !important;
    border-radius: 12px;
  }
  
  #create-reba:hover {
    border: 2px solid rgb(131, 5, 5) !important;
    background: rgb(0, 0, 0) !important;
    color: rgb(139, 139, 124);
    transition: all 0.2 ease;
  }
  
  @media screen and (min-width: 2550px) {
    nav .container {
      min-width: 100%;
      padding: 0 10% !important;
    }
  
    html {
      font-size: 1.5rem;
    }
  }
  
  /* Navbar END */
  