/* Reports Section */

body {
  background-color: rgb(28, 8, 20);
}

.accordion-item {
  border: none !important;
}

.accordion-button {
  background-color: rgb(190, 190, 190);
  font-weight: 700;
  border: none !important;
  box-shadow: none;
  --bs-accordion-active-bg: rgb(181, 183, 186) !important;
}

/* #button-row{
  position: relative;
  text-align: center;
} */

/* .btn-primary {
  position: absolute;
  width: auto;
  top: 13%;
  right: 5%
} */

.accordion-button:focus {
  box-shadow: none;
}

#header-row h1 {
  color: antiquewhite;
  font-size: 4rem;
}

#header-row p {
  color: white;
  width: 100%;
}

#header-row hr {
  width: 100%;
  margin-left: 12px;
}

.table-col {
  padding-top: 5px !important;
}

#reports table {
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
}

.download-btn{
  background-color: rgba(0, 255, 128, 0.432);
  font-size: 1rem;
  font-weight: 500;
}

.download-btn:hover{
  background-color: rgba(0, 255, 128, 0.576);
}

/* Table Border Customization */

.custom-border {
  border-left: 2px solid black !important;
  border-right: 2px solid black !important;
}

/* Table Border Customization END*/

@media screen and (max-width: 470px){
  .container{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .accordion{
    padding: 0 !important;
  }
}


/* Reports Section END*/
